.idea/*
build
dist
scalesim.egg-info
test_runs
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
topologies/*.zip

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

results/*



configs/scale.cfg 
#topologies/ONN/*
Logs/ONN_sim/*
information_ppt/
AM.csv
logs
topologies
